/* Reset CSS */



@import url('https://fonts.googleapis.com/css2?family=BIZ+UDPMincho&family=Cormorant+Infant&family=Cormorant:ital,wght@0,400;0,500;1,400;1,500&family=EB+Garamond:ital,wght@0,400;0,500;1,400&family=IBM+Plex+Sans+JP:wght@400;500&family=Kosugi+Maru&family=Yuji+Mai&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spectral+SC:wght@600&display=swap');


:root {
  --font-size: 1.1rem;
  --font-size--secondary: 1rem;
  --font-size--mobile: 1.6rem;
  --font-size--article: 1.6rem;
  --font-size--mobile--secondary: 1.2rem;
  --line-height: 1.25;
  --word-spacing: -0.1rem;
  --margin: 1.0rem;
  --margin--mobile: 1.5rem;
  --scrollbar-width: 1.5rem;
  --font-family: 'Manege Demo', serif;
  --letter-spacing: .095rem;
  --title-font-family: 'Five Years Later Demo', sans-serif;
  --highlight-color: rgb(227, 227, 227);
  --main-color: rgb(106, 106, 106);
  --card-front-color:  rgb(218, 216, 220);
  --card-back-color: rgba(220, 218, 239, 0.8);
  --main-blue: rgb(19, 3, 137);
  --main-pink: rgb(255, 95, 156);
  --bg-gradient: linear-gradient(180deg, rgba(1, 1, 159, 0.644) 6%, rgb(255, 225, 238) 96%);
  --border-radius: 0.8rem;
}

@import "cards";
@import "about";
@import "text";

html,
body {
  z-index: 1;
  font-size: 1vw;
  padding: 0;
  margin: 0;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

body {

  /* Full height */
  width: 100vw;
  /* Center and scale the image nicely */
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: var(--line-height);
  color: var(--main-blue);
  background: var(--bg-gradient);
  background-repeat: no-repeat;
  background-attachment: fixed;
    
  
}
  



input {
  background: rgba(255, 255, 255, 0.293);
  border: none;
}

div {
  display: block;
}

a {
  text-decoration: none;
  transition: color 0.3s;
}



a:visited {
  color: var(--main-blue);
}

a:hover {
  color: white;
}
.logo {
  position: absolute;
  display:none;
 

  img {
    max-width: 2vw;
    display:none;
  }
}


/* menu */

.navigation__container {
  position: absolute;
  z-index: 3;

  .navigation {

    .highlight{
      position: fixed;
      top: 1rem;
      left: 1rem;
      color: white;
    }
    #nav-about {
      position: fixed;
      top: 1rem;
      right: 1rem;
    }
    #nav-contact {
      position: fixed;
      bottom: 1rem;
      right: 1rem;
    }

    #nav-patreon {
      position: fixed;
      bottom: 1rem;
      left: 1rem;
    }
  }
}





/* footer */
.insta {
  position: fixed;
  bottom: 0;
  margin: 1rem;
}

.email-signup {
  position: fixed;
  display: none;
  height: calc(1em * var(--line-height));
  top: 1rem;
  right: 40%;

  button {
    color: var(--main-blue);
    padding: 0 0.3rem;
    background: none;
    border: none;
  }

  .js-cm-form button[type=submit] {
    margin-left: calc(0.5 * var(--margin));
    cursor: pointer;
    color: var(--main-blue);
  }
}

@media (max-width: 750px) {

  body {

    /* Full height */
    width: 100vw;
    /* Center and scale the image nicely */
    font-family: var(--font-family);
    font-size: 20px;
    line-height: var(--line-height);
    color: var(--main-blue);
    background: var(--bg-gradient);
    background-repeat: no-repeat;
    background-attachment: fixed;
      
    
  }
  .container {
    display: grid;
    position: absolute;
    grid-template-columns: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-top: 3rem;
    height: 90vh;
    width: 84vw;
    left: 50%;
    transform: translateX(-50%);
    .flip-card {
      margin: 0.2rem;
      background-color: transparent;
      perspective: 1000px;
      min-height: 50vh;
  
    }
  }
}




*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}